name: build-and-test
permissions:
  contents: read
on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
jobs:
  build:
    if: ${{ github.repository_owner == 'citrusleaf' }}
    runs-on: ubuntu-24.04
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Fetch app token
        id: app-token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        with:
          app-id: ${{ vars.APP_CLIENT_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - name: Checkout aerospike-server
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          repository: citrusleaf/aerospike-server
          submodules: true
          path: ./aerospike-server
          fetch-depth: 0
          token: ${{ steps.app-token.outputs.token }}
      - name: Install required packages
        run: |
          cd "$GITHUB_WORKSPACE/aerospike-server"
          ./bin/install-dependencies.sh
      - name: Checkout aerospike-server-enterprise
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        continue-on-error: true
        id: checkout-branch
        with:
          repository: citrusleaf/aerospike-server-enterprise
          submodules: true
          path: ./aerospike-server-enterprise
          fetch-depth: 0
          token: ${{ steps.app-token.outputs.token }}
          # For pull requests, github.head_ref contains the branch name
          ref: ${{ github.head_ref }}
      - name: Checkout master if branch doesn't exist
        if: steps.checkout-branch.outcome == 'failure'
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          repository: citrusleaf/aerospike-server-enterprise
          submodules: true
          path: ./aerospike-server-enterprise
          fetch-depth: 0
          token: ${{ steps.app-token.outputs.token }}
          ref: master
      - name: Build and package Aerospike Server Enterprise
        run: |
          cd "$GITHUB_WORKSPACE/aerospike-server"
          make EEREPO="$GITHUB_WORKSPACE/aerospike-server-enterprise" deb+ee
      - name: Install Aerospike Deb
        run: sudo dpkg -i $(find $GITHUB_WORKSPACE/aerospike-server/pkg/packages/*.deb)
      - name: Set the feature key env var
        run: |
          FEATUREKEY_ENCODED=$(base64 -w 0 ./aerospike-server-enterprise/etc/features.conf)
          echo "FEATUREKEY=$FEATUREKEY_ENCODED" >> "$GITHUB_ENV"
      - name: Start Aerospike server
        run: |
          sudo chown -R $(id -u):$(id -g) /opt/aerospike/usr/udf/lua
          /usr/bin/asd \
            --config-file ./aerospike-server/as/etc/gh-action.conf \
            --cold-start
      - name: Checkout C client repo
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          repository: aerospike/aerospike-client-c
          submodules: recursive
          path: aerospike-client-c
      - name: Build and run the client tests
        run: |
          cd ./aerospike-client-c
          make
          make test
