name: reviewdog
permissions:
  contents: read
  pull-requests: write
on:
  push:
    branches: [main, master]
  pull_request:

jobs:
  shellcheck:
    name: runner / shellcheck
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: step-security/action-cond@45aa5a709bd075f11c74285d8b0ca4d527e5fbcf # v1.2.4
        id: reporter
        with:
          cond: ${{ github.event_name == 'pull_request' }}
          if_true: "github-pr-review"
          if_false: "github-check"
      - uses: reviewdog/action-shellcheck@4c07458293ac342d477251099501a718ae5ef86e # v1.32.0
        with:
          reporter: ${{ steps.reporter.outputs.value }}
          level: warning
          filter_mode: file
          fail_level: any

  actionlint:
    name: runner / actionlint
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: step-security/action-cond@45aa5a709bd075f11c74285d8b0ca4d527e5fbcf # v1.2.4
        id: reporter
        with:
          cond: ${{ github.event_name == 'pull_request' }}
          if_true: "github-pr-review"
          if_false: "github-check"
      - uses: step-security/action-actionlint@636868d8a7788bc5b3d0ce221b89c1d7132084b7 # v1.68.1
        with:
          reporter: ${{ steps.reporter.outputs.value }}
          level: warning
          filter_mode: file
          fail_level: any

  shfmt:
    name: runner / shfmt
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: step-security/action-cond@45aa5a709bd075f11c74285d8b0ca4d527e5fbcf # v1.2.4
        id: reporter
        with:
          cond: ${{ github.event_name == 'pull_request' }}
          if_true: "github-pr-review"
          if_false: "github-check"
      - uses: reviewdog/action-shfmt@d8f080930b9be5847b4f97e9f4122b81a82aaeac # v1.0.4
        with:
          reporter: ${{ steps.reporter.outputs.value }}
          shfmt_flags: ''
          level: warning
          filter_mode: file
          fail_level: any

  # hadolint:
  #   name: runner / hadolint
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
  #     - uses: haya14busa/action-cond@v1
  #       id: reporter
  #       with:
  #         cond: ${{ github.event_name == 'pull_request' }}
  #         if_true: "github-pr-review"
  #         if_false: "github-check"
  #     - uses: reviewdog/action-hadolint@v1
  #       with:
  #         reporter: ${{ steps.reporter.outputs.value }}
  #         filter_mode: file
  #         fail_level: none
  #         hadolint_ignore: DL3008
  #         exclude: |
  #           ^modules/
