name: reviewdog
permissions:
  contents: read
  pull-requests: write
on:
  push:
    branches: [main, master]
  pull_request:

jobs:
  shellcheck:
    name: runner / shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: haya14busa/action-cond@v1
        id: reporter
        with:
          cond: ${{ github.event_name == 'pull_request' }}
          if_true: "github-pr-review"
          if_false: "github-check"
      - uses: reviewdog/action-shellcheck@v1
        with:
          reporter: ${{ steps.reporter.outputs.value }}
          level: warning
          filter_mode: file
          fail_level: any

  actionlint:
    name: runner / actionlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: haya14busa/action-cond@v1
        id: reporter
        with:
          cond: ${{ github.event_name == 'pull_request' }}
          if_true: "github-pr-review"
          if_false: "github-check"
      - uses: reviewdog/action-actionlint@v1
        with:
          reporter: ${{ steps.reporter.outputs.value }}
          level: warning
          filter_mode: file
          fail_level: any

  shfmt:
    name: runner / shfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: haya14busa/action-cond@v1
        id: reporter
        with:
          cond: ${{ github.event_name == 'pull_request' }}
          if_true: "github-pr-review"
          if_false: "github-check"
      - uses: reviewdog/action-shfmt@v1
        with:
          reporter: ${{ steps.reporter.outputs.value }}
          shfmt_flags: ''
          level: warning
          filter_mode: file
          fail_level: any

  # hadolint:
  #   name: runner / hadolint
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: haya14busa/action-cond@v1
  #       id: reporter
  #       with:
  #         cond: ${{ github.event_name == 'pull_request' }}
  #         if_true: "github-pr-review"
  #         if_false: "github-check"
  #     - uses: reviewdog/action-hadolint@v1
  #       with:
  #         reporter: ${{ steps.reporter.outputs.value }}
  #         filter_mode: file
  #         fail_level: none
  #         hadolint_ignore: DL3008
  #         exclude: |
  #           ^modules/
